@media screen and ( max-width: 480px ) {
	#banner{
		height: 10em; 
	}
	.ui-block { 
		width: 33%; 
		float:left; 
	}
}
@media screen and ( min-width: 481px ) and ( max-width: 768px ) {
	#banner{
		height: 15em;
	}
	.ui-block{ 
		width: 24%; 
		float:left; 
	}
}
@media screen and ( min-width: 769px ) {
	#banner{
		height: 20em;
	}
}
#banner{
	background-image:url(../img/banner.jpg);
	background-size:cover; 
	background-position:top; 
	width:100%; 
	
}

.EventoDia, .EventoLugar{
	color:#666;
}
#DivMensajeNoticia, #DivMensajeEventos, #DivMensajeConv, #DivMensajeAvisos{
	color:#999;
	text-align:center;
	display:none;
}
.botonRec{
	color:#999;
	text-align:center;
}
.imgAjustable {
height: auto;
max-width: 100%;
}
h2 {
	color:#009377;
}
#identidad {
	background-color:#fff;
}
#imgmenu {
	width:60%;
	max-width:150px;
}
img {
height: auto;
max-width: 100%;
}
.btnmenu{
	font-size: 14px;
	margin: 0em 0;
	padding: .7em 0em;
	display: block;
	position: relative;
	text-align: center;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:normal;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-style: none;
}
.btnAtras{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
#subtitulo, #subtituloPlanEst {
	text-align:left;
}
#collapsibleset{
	display:none;
}

/*-------------------------------------iscroll---------------------------*/

